body{
    width: 100%;
    background-image: url(../../Images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
header{
    text-align: center;
    color: white;
    width: 51%;
    height: 500px;
    
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
header > h1{
    padding-top: 150px;
}

